In [6]:
import pandas as pd
import numpy as np

In [7]:
dataset = pd.read_csv('Zbiór danych Titanic.arff',skiprows=16)
dataset.reset_index(inplace=True)
dataset.columns=['pclass','survived','name','sex','age','sibsp','parch','ticket','fare','cabin','embarked','boat','body','home_dest']

for column in dataset.columns:
    print(f" {column} : {'?' in dataset[column].unique()}")

dataset=dataset.replace('?',np.NaN)

 pclass : False
 survived : False
 name : False
 sex : False
 age : True
 sibsp : False
 parch : False
 ticket : False
 fare : True
 cabin : True
 embarked : True
 boat : True
 body : True
 home_dest : True

In [16]:
liczebnosc_etykiet=[]
for column in dataset.select_dtypes(include=['object']):  # Select only columns with qualitative variables
    counts = len(dataset[column].unique())
    liczebnosc_etykiet.append(counts)
    # print(f"Liczba poszczególnych etykiet dla zmiennej '{column}':")
    print(f'Liczba etykiet zmiennej {column}: {counts}')
    # print(counts)
    print()

Liczba etykiet zmiennej name: 1307

Liczba etykiet zmiennej sex: 2

Liczba etykiet zmiennej age: 99

Liczba etykiet zmiennej ticket: 929

Liczba etykiet zmiennej fare: 282

Liczba etykiet zmiennej cabin: 187

Liczba etykiet zmiennej embarked: 4

Liczba etykiet zmiennej boat: 28

Liczba etykiet zmiennej body: 122

Liczba etykiet zmiennej home_dest: 370

In [22]:
np.quantile(liczebnosc_etykiet,0.25)

45.75

In [15]:
print(f"Liczba pasażerów to {len(dataset)}" )

Liczba pasażerów to 1309

Podzielmy zbiory na małą i dużą moc na podstawie pierwszego kwartyla.
Zbiór o dużej mocy będzie miał 46 i więcej etykiet tymczasem zbiór o małej mocy będzie miał do 45 włącznie.

Popatrzmy na kabiny. Zmienna cabin posiada 187 unikalnych wartości, więc posiada dużą moc.

In [23]:
dataset['CabinReduced']=dataset['cabin'].astype(str).str[0]

In [24]:
dataset[['cabin','CabinReduced']].head(20)

      cabin CabinReduced
0        B5            B
1   C22 C26            C
2   C22 C26            C
3   C22 C26            C
4   C22 C26            C
5       E12            E
6        D7            D
7       A36            A
8      C101            C
9       NaN            n
10  C62 C64            C
11  C62 C64            C
12      B35            B
13      NaN            n
14      A23            A
15      NaN            n
16  B58 B60            B
17  B58 B60            B
18      D15            D
19       C6            C

In [25]:
len(dataset['CabinReduced'].unique())

9

Po zredukowaniu pozostało 9 unikalnych wartości co znaczy, że jest to teraz zbiór o małej mocy. Policzmy o ile procent dokonano redukcji.

In [29]:
old=len(dataset['cabin'].unique())
new=len(dataset['CabinReduced'].unique())

print(f"Ilość unikalnych wartości w kolumnie kabina zerdukowano o {np.round((old-new)/old*100,2)}%")

Ilość unikalnych wartości w kolumnie kabina zerdukowano o 95.19%

Dokonujemy redukcji wartości dla kolumny kabiny, ponieważ w niektórych przypadkach zmienna kabinowa może nie być istotna dla analizy lub modelowania, a jedynie dodatkowym szczegółem bez większego wpływu na wyniki. Również gdy ta zmienna ma dużą liczbę unikalnych etykiet, może to prowadzić do nadmiernego rozdrobnienia danych. W takich przypadkach redukcja kardynalności może pomóc w uproszczeniu analizy i modelowania.

Natomiast może to mieć złe skutki na przyszłą analizę.


Może prowadzić do utraty informacji zawartej w oryginalnej zmiennej kabinowej, co może być istotne dla analizy.